.sidebar-icon {
  margin-right: 1rem !important;
  margin-top: -4px !important;
  padding: 6px 0;
}
.main-bill {
  flex: 0 0 auto;
  max-width: 320px;
}
.mainbillclass {
  margin-top: 58px;
}
.discountp {
  display: none;
  text-align: end;
}
.discountinput {
  display: table-cell;
}
@media print {
  .discountp {
    display: table-cell;
  }
  .discountinput {
    display: none;
  }
  .hide-on-print {
    display: none;
  }
  .mainbillclass {
    margin-top: 0px;
  }
  header {
    display: none;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
