@media screen and (max-width: 426px) {
  .btn-custom {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 11px;
  }
}
@media screen and (max-width: 650px) {
  .btn-custom {
    padding-left: 7px;
    padding-right: 7px;
    font-size: 15px;
  }
}
