@media screen and (max-width: 425px) {
  .btn-custom {
    padding-left: 3px;
    padding-right: 3px;
    font-size: 12px;
  }
}
@media screen and (max-width: 650px) {
  .btn-custom {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 15px;
  }
}
